.md h1 {
  @apply text-4xl font-bold mb4;
}

.md h2 {
  @apply text-lg font-bold mb4;
}



.md a {
  @apply text-blue-500 underline;
}

.md a:hover {
  @apply text-blue-400;
}

.md p {
  @apply text-sm mb2;
}

.md ol li {
  @apply mb.5 text-sm;
  list-style-type: decimal;
  list-style-position: inside
}

.md ul, .md ol {
  @apply mb2;
}

.md ul li {
  @apply mb.5 text-sm;
  list-style-type: disc;
  list-style-position: inside
}