---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";

export async function getStaticPaths() {
  const notesEntries = await getCollection("notes");
  return notesEntries
    .filter(({ slug }) => {
      return slug.startsWith("pages/");
    })
    .map((note) => {
      return {
        params: { slug: note.slug.replace(/^pages\//, "") },
        props: { note },
      };
    });
}

const { note } = Astro.props;

const title = note.id.replace(/^pages\//, "").replace(/\.md$/, "");

const { Content } = await note.render();
---

<Layout title="Notes" markdown={true}>
  <h1>{title}</h1>
  <Content />
</Layout>
