---
import { getCollection } from "astro:content";
import ContentLayout from "@/layouts/ContentLayout.astro";

const notesEntries = await getCollection("notes");

const onlyNotes = notesEntries.filter(({ slug, id }) => {
  return id.startsWith("pages/") && id !== "pages/contents.md";
});
---

<ContentLayout title="Notes">
  <h1>Notes</h1>

  {
    onlyNotes.map((note) => {
      const slug = note.slug.replace(/^pages\//, "");
      const title = note.id.replace(/^pages\//, "").replace(/\.md$/, "");
      return (
        <div>
          <a href={`/notes/${slug}`}>{title}</a>
        </div>
      );
    })
  }
</ContentLayout>
