---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";

const notesEntries = await getCollection("notes");

const onlyNotes = notesEntries.filter(({ slug, id }) => {
  return id.startsWith("pages/") && id !== "pages/contents.md";
});
---

<Layout title="Notes" markdown={true}>
  <h1>Notes</h1>

  {
    onlyNotes.map((note) => {
      const slug = note.slug.replace(/^pages\//, "");
      const title = note.id.replace(/^pages\//, "").replace(/\.md$/, "");
      return (
        <div>
          <a href={`/notes/${slug}`}>{title}</a>
        </div>
      );
    })
  }
</Layout>
