---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";

const notesEntries = await getCollection("notes");

const onlyNotes = notesEntries.filter(({ slug, id }) => {
  return id.startsWith("pages/") && id !== "pages/contents.md";
});
---

<Layout title="Notes">
  <div class="markdown max-w-3xl mx-auto">
    <h1 class="text-4xl font-serif text-center mb-8">Notes</h1>

    {
      onlyNotes.map((note) => {
        const slug = note.slug.replace(/^pages\//, "");
        const title = note.id.replace(/^pages\//, "").replace(/\.md$/, "");
        return (
          <div>
            <a href={`/notes/${slug}`}>{title}</a>
          </div>
        );
      })
    }
  </div>
</Layout>
