---
title: I was born in 1992
size: lg
fromDate: '1992-12-14'
---

On Mar del Plata, Argentina at  11:40am of the date 14th December 1992, under the solar sign of Sagittarius,
the moon sign of Leo and the horizon on Aquarius, I came out of my mother womb into this world
at this time and age.

My father is Guillermo Daniel Schwartzman and my mother is Mirta Liliana Cappelluti. At this
time my brother, Maximiliano Gabriel Schwartzman is already 1 years 4 months old.



