---
size: md
fromDate: '2017-05-15'
---

I spent the following 2 years on a beatiful apartment, working online, watching anime and series,
playing videogames, drinking alcohol, experimenting with all kinds of psychoactive substances, meeting
with friends and generally just having a lots of experiences with other people and by myself.

A time marked by lots of cannabis, LSD, Settlers of Catan, alcohol and videogames. I even made my own
indoor hydroponic cannabis setup during this period.