---
size: md
fromDate: '2019-09-14'
toDate: '2023-04-07'
title: 'Moved in with the future mother of my son'
---

This marked the commitment that lead to become the parent of my son two years later.

The relationship was intense and lasted for almost 4 years until it finally crashed and
never recovered due to lack of intimacy and and an ever-increasing accumulation of
unchecked resentments.