---
size: md
fromDate: '2022-06'
title: Introduction to the context of Possibility Management
---

Not sure how to put this, but about this time I got in contact with the context
of Possibility Management by reading an article on the Global Ecovillage Network that
linked to one of the Startover websites.

I spent days devouring the Startover websites and then getting involved in the community.

At this time my mind was set on joining an ETB which I eventually did about 3 years later.