---
size: md
fromDate: '2025-9'
---

I moved to my childhood home, left to my care by my mother, and enstablished
a co-living space with other people and other parents.

Lots of experimenting with community living.