---
size: md
fromDate: '2012-7-25'
toDate: '2012-8-07'
title: Trip to Chile
---

This was actually a WORK trip. The father of my old friend Bruno was working on "El Bibliotecón"
and he had some free tickets to travel by plane to Chile, stay on some apartment and do some work.

I jumped at the the opportunity to travel with my friend and visit Chile; and we had lots of fun.
The work was barely work. I think we moved some boxes around.
