---
size: md
fromDate: '2013-4'
---



I studied computer engineering at the Engineering University of Mar del Plata for about one year.

I didn't actually study much related to computers, it was mostly math, physics and chemistry. I did have a subject
on

Since I was already working and earning good money and I had the thoughtware that
successful people drop out of university, I dropped out.