---
size: md
fromDate: '2017-11-4'
toDate: '2017-12-21'
---

I spent all that job money in a big trip throughout Europe. Went to Barcelona, London,
Berlin, Prague, Italy, Paris and then Barcelona again.

I also tried ecstasy on a Berlin rave. This set me up to a whole year of trying all kinds of
drugs later on.