---
size: md
fromDate: '2018-03'
title: First psychedelic experience
---

At this time I tried LSD for the first time in my old close friend Bruno and also Nachito.

I will always cherish the memory of this first trip in my heart.