---
size: md
fromDate: '2024-07'
---

Another short lived website

<Photo ids={[
  ['5th-website-1', 'Screenshot 1'],
  ['5th-website-2', 'Screenshot 2'],
]}/>



<GithubLink url="https://github.com/Zequez/personal-website"/>