---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import Creations from "../components/creations/Creations.astro";
import { bgColor } from "../lib/chroma";
---

<Layout title="Ezequiel Schwartzman">
  <div class="text-black/90 sm:pt-20">
    <div class="sm:flex mx-auto sm:max-w-screen-md pb-32">
      <div
        class="flex-shrink-0 overflow-hidden sm:overflow-auto sm:h-auto aspect-square sm:aspect-auto"
      >
        <img
          src="/assets/my-photo-1.jpg"
          alt="A picture of myself in the woods"
          class="sm:max-w-[260px] md:max-w-sm sm:m-4 sm:rounded-md shadow-sm -mt-40 sm:mt-4"
        />
      </div>
      <div class="p-4 space-y-4 max-w-sm mx-auto">
        <h1
          class="text-4xl md:text-5xl tracking-wider font-light font-serif text-center sm:text-left"
        >
          Ezequiel<br />Schwartzman
        </h1>
        <div class="font-sans space-y-4">
          <p class="-mt-2 text-sm sm:text-xs md:text-sm text-center sm:text-left">
            Truth &#9733; Integrity &#9733; Collaboration &#9733; Possibilities
          </p>
          <ul class="list-disc pl-4 space-y-4">
            <li>
              15 years of experience experimenting with web technologies
              <div class="italic text-black/50 text-sm">
                There are times I want to throw my laptop away and never touch a computer for the
                rest of my life
              </div>
            </li>
            <li>
              A passionate advocate of the free and open source software movement
              <div class="italic text-black/50 text-sm">
                Collaboration is foundational to next-culture. Artificial scarcity is rotten.
              </div>
            </li>
            <li>
              Raising funds to pay for initiations
              <div class="italic text-black/50 text-sm">
                I can be of better service to Gaia and all beings as a powerful mage
              </div>
            </li>
            <li>
              Papá for one little human
              <div class="italic text-black/50 text-sm">Learning parenting as I go</div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <Section name="Creations" hue={85} titleTop={-20} spaceBottom={20} textClass="md:rotate-3">
      <Creations />
    </Section>
    <!-- <Section
      name="Deliverables"
      hue={130}
      spaceBottom={20}
      textClass="md:-rotate-3 text-5xl sm:text-6xl"
    >
      <div class="max-w-screen-sm mx-auto tracking-wider text-white">
        <p class="mb-4">
          Kinds of things I've built and can build again, and the suggested money investment ranges.
        </p>
        <div class="text-center my-8">
          <a
            class="inline-block color-white px-4 py-2 rounded-md shadow-md uppercase tracking-wider font-semibold hover:scale-105 active:scale-100 transition hover:shadow-lg active:shadow-sm"
            style={{ background: bgColor(130 + 180, -3), textShadow: "0 1px 0 #0003" }}
            target="_blank"
            href="https://docs.google.com/spreadsheets/d/10EHq5o2TAOdXEbP45PXNFfjzyd2KHH_2N1KiKW3I0nU/edit#gid=0"
            >Deliverables lists &rarr;</a
          >
        </div>
        <p class="mb-4">
          The invested money is a value signal that helps me prioritize my work and simplify
          negotiations. The range system is designed to account for cross-cultural purchase power
          differences and individual situations.
        </p>
        <p>
          The numbers are not a final word, feel free to make alternative proposals with exchanges
          of non-material values, crowdfunding, or partnering up for a venture.
        </p>
      </div>
    </Section> -->
    <Section
      name="Wall of love"
      hue={130}
      spaceBottom={20}
      textClass="md:-rotate-3 text-5xl sm:text-6xl"
    >
      <div class="max-w-screen-sm mx-auto tracking-wider text-white">
        What clients, partners and team members say about me. Information pending.
      </div>
    </Section>
    <Section
      name="Team up with me"
      hue={250}
      titleTop={-40}
      spaceBottom={-60}
      textClass="md:rotate-3"
    >
      <div class="text-center py-12">
        <a
          class="inline-block px-8 py-4 text-xl text-white uppercase tracking-wider font-semibold rounded-md hover:scale-105 active:scale-100 transition shadow-md hover:shadow-lg active:shadow-sm"
          style={{ background: bgColor(340 - 180), textShadow: "0 1px 0 #0009" }}
          target="_blank"
          href="https://t.me/zequez">Schedule discovery call</a
        >
      </div>
    </Section>
  </div>
</Layout>
