---
import Layout from "../layouts/Layout.astro";
// import Items from "../components/Items";
import mainImage from "../assets/pic1.jpg";
import Separator from "../components/Separator.astro";
import Section from "../components/Section.astro";
---

<Layout title="Ezequiel Schwartzman">
  <div class="text-black/90 sm:pt-20">
    <div class="sm:flex mx-auto sm:max-w-screen-md pb-32">
      <div
        class="flex-shrink-0 overflow-hidden sm:overflow-auto sm:h-auto aspect-square sm:aspect-auto"
      >
        <img
          src={mainImage}
          alt="A picture of myself in the woods"
          class="sm:max-w-xs md:max-w-sm sm:m-4 sm:rounded-md shadow-sm -mt-40 sm:mt-4"
        />
      </div>
      <div class="p-4 space-y-4 max-w-sm mx-auto">
        <h1
          class="text-4xl md:text-5xl tracking-wider font-light font-serif text-center sm:text-left"
        >
          Ezequiel<br />Schwartzman
        </h1>
        <div class="font-sans space-y-4">
          <p class="-mt-2 text-sm sm:text-xs md:text-sm text-center sm:text-left whitespace-nowrap">
            Truth &#9733; Integrity &#9733; Collaboration &#9733; Possibilities
          </p>
          <ul class="list-disc pl-4 space-y-4">
            <li>
              More than a decade of experience experimenting with web technologies.
              <div class="italic text-black/50 text-sm">
                Make solutions as simple as possible but not simpler than needed
              </div>
            </li>
            <li>
              A passionate advocate of the free and open source software movement.
              <div class="italic text-black/50 text-sm">
                Collaboration is foundational to next-culture.
              </div>
            </li>
            <li>
              Freelances as a web developer while raising funds to pay for mage initiations, his
              true calling.
              <div class="italic text-black/50 text-sm">Working for Gaia as an Earth Guardian</div>
            </li>
            <li>
              Dad for one beautiful soul. His one unshakable commitment.
              <div class="italic text-black/50 text-sm">Children unleash the best of us</div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <Section name="Creations" hue={85} titleTop={-20} spaceBottom={20} textClass="md:rotate-3">
      Portfolio of things I've created.
    </Section>
    <Section name="Deliverables" hue={130} spaceBottom={20} textClass="md:-rotate-3">
      Things I'm willing to take responsibility for building.
    </Section>
    <Section name="Testimony" hue={250} spaceBottom={20} textClass="md:-rotate-3">
      What clients, partners and team members say about me.
    </Section>
    <Section
      name="Team up with me"
      hue={340}
      titleTop={-40}
      spaceBottom={-60}
      textClass="md:rotate-3"
    >
      Schedule a discovery call
    </Section>
  </div>
</Layout>
