---
import Layout from "../layouts/Layout.astro";
import { Content as About } from "./_about.md";
---

<Layout>
  <div class="text-black/90">
    <div class="relative z-10 sm:mx-auto sm:max-w-screen-lg -mt-20 sm:mt-0 -mx-8">
      <div
        class="flex-shrink-0 overflow-hidden sm:overflow-auto sm:h-auto aspect-square sm:aspect-auto float-left sm:mr-8 mb-4"
      >
        <img
          src="/assets/my-photo-1.jpg"
          alt="A picture of myself in the woods"
          class="sm:max-w-[270px] md:max-w-[400px] sm:rounded-md shadow-sm -mt-52 sm:mt-0"
        />
      </div>
      <div class="markdown text-xl font-light p-8 sm:p-0">
        <About />
      </div>
      <div class="clear-both"></div>
    </div>
  </div>
</Layout>
