---
---

<h2>Collaboration Proposal</h2>

<p>I'm offering the possibility of collaborating to co-create:</p>

<ul>
  <li>Web apps/systems</li>
  <li>Web components to be used in existing sites</li>
  <li>Web browser extensions</li>
  <li>Data scraping systems</li>
  <li>Automation systems</li>
  <li>Anything within my ability</li>
</ul>

<p>
  Creative work is to be written openly and released as open source software, free for everyone to
  use and remix, and in service of Gaia, not for profit or manipulating people.
</p>

<p>
  The service looks like forming a team, and holding space for a weekly call for each ongoing
  project with other collaborators where we can explore possibilities and decide next steps. Also
  shipping of regular updates and reports about the development on the agreed upon communication
  channel.
</p>

<p>
  I don't do well with deadlines, my creative capacity is not linear and often unpredictable, but a
  commitment to weekly calls do keep me more consistent, and helps with managing expectations.
</p>

<p>
  As for the money to be invested, my request is for it to be interpreted as supporting the freely
  given creative development of a public utility as part of a collaborative effort to create tools
  that enrich us all, as software cannot be owned, and it is copied at no cost. So even if I build
  something initially only for your specific use, it becomes available to everyone else too at no
  additional cost.
</p>

<p>
  Software is built in modules, reusable blocks of functionalities that are shared between projects.
</p>

<p>Possible money investment modalities that I resonate with:</p>

<ul>
  <li>
    Commitment to moonly support for specific project development (good for nurturing long-term
    collaboration around a project)
  </li>
  <li>
    Commitment to award a completed feature-set or results (good for activating the motivation
    instincts, and expressing clearly what you want)
  </li>
  <li>
    Freely given amount as a gift at your own discretion (good for showing appreciation after calls
    or new releases)
  </li>
</ul>

<p>
  Transparency, openness and relaxed playful attitude about financial goals and availability. Long
  term, <a href="https://hypha.earth/"
    >there are tools that can be used to creatively collaborate within alternative currencies-imbued
    Gameworlds</a
  >, that I would like to explore. Short term, I don't have any money at the moment, and a lot of
  availability to create; so I'm looking to pair up with someone who can collaborate financially.
</p>

<p>
  Additionally, names and links to the websites of each team collaborator are to be listed on each
  project.
</p>
