---
import { bgColor } from "../lib/chroma";

const svgPath = "M 0 0, C 100 0 100 100 150 100, C 200 100 200 0 300 0, Z";
const mainColor = "var(--main-color)";
const shadowColor = "var(--main-color-shadow)";

const itemsLeft = ["About me", "Creations", "Collaboration"];
const itemsRight = ["", "Contact"];
---

<div class="font-serif absolute top-0 inset-x-0 z-20"></div>
<div
  class="h-14 text-lg sm:text-2xl tracking-widest flex items-center justify-center relative z-20 border-b-8"
  style={{
    background: `linear-gradient(to bottom, ${shadowColor}, ${mainColor})`,
    borderColor: shadowColor,
  }}
>
</div>
