---
const { klass, pathStroke, pathFill, top = 0 } = Astro.props;
---

<div class:list={[klass, "h-60 pointer-events-none relative"]} style={{ marginTop: `${top}px` }}>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1440 400"
    preserveAspectRatio="none"
    fill="currentColor"
    class="w-full h-full"
  >
    <path
      stroke-opacity="0.75"
      d={pathStroke}
      stroke-width="70"
      fill="transparent"
      stroke="currentColor"></path>
    <path d={pathFill}></path>
  </svg>
</div>
