---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import HeaderBar from "@/components/HeaderBar.astro";

export async function getStaticPaths() {
  const creationsEntries = await getCollection("creations");
  return creationsEntries.map((creation) => ({
    params: { slug: creation.slug },
    props: { creation },
  }));
}
// 2. When it's time to render, you can get the entry directly from the prop
const { creation } = Astro.props;
const { Content } = await creation.render();
---

<Layout title={creation.data.title}>
  <HeaderBar />
  <div class="pt-0">
    <h1 class="text-4xl mb-4 text-center mb-8 font-light px-4 font-serif">{creation.data.title}</h1>
    <div class="lg:px-4 flex justify-center">
      <div
        class="overflow-x-scroll aspect-video w-full p-4 max-w-screen-xl lg:rounded-md shadow-md border flex items-center justify-start mb-4 bg-gray-600"
      >
        {
          creation.data.images.map((image: string) => (
            <img src={image} class="max-w-full max-h-full rounded-md" alt="" />
          ))
        }
      </div>
    </div>
    <div class="text-lg font-light max-w-screen-lg mx-auto px-4 pb-8">
      <div class="flex justify-center flex-wrap mb-4">
        {
          creation.data.tags.map((tag: string) => (
            <span class="bg-gray-400/80 font-bold text-white uppercase tracking-wider px-2 py-1 mr-2 mb-2 rounded-md">
              {tag}
            </span>
          ))
        }
      </div>
      <div class="markdown">
        <Content />
      </div>
    </div>
  </div>
</Layout>
